---
export interface Props {
  type: "note" | "caveat" | "methodology";
  title?: string;
}

const { type, title } = Astro.props;
const className = `callout-${type}`;
---

<aside class={className}>
  {title && <h4 class="callout-title">{title}</h4>}
  <slot />
</aside>
